@import "tailwindcss";

@layer base {
    html, body {
        height: 100%;
        width: 100%;
    }

    body {
        @apply min-h-screen flex flex-col bg-gray-50 text-gray-900;
    }
}

h1 {
    text-align: center;
    font-weight: bold;
}
@layer components {
    .h1 {
        text-align: center;
        font-weight: bold;
    }

    .container {
        @apply w-full max-w-7xl mx-auto px-6;
    }

    /* HEADER */

    header.container>nav {
        @apply flex justify-center gap-8 border-b py-4;
    }
    a.active {
        color: blueviolet;
        text-decoration: underline;
    }

    /* MAIN */

    main.container {
        @apply flex-1 py-8;
    }

    /* FOOTER */

    footer.container {
        @apply border-t py-6 flex justify-center;
    }

}

